.cardBlog{
    height: 365px;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: 1px solid #758283;
}

.cardBlog:hover{
    background-color: #242B2E;
}