.brandText{
    cursor: pointer;
    color: #fff !important;
    font-size: 30px !important;
    font-family: 'Volkhov', serif;
}

.navbarCustom{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 5px 0;
    /* background: rgba(255, 255, 255, 0.2) !important; */
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8.7px);
    border-bottom: 1px solid #ccc
}

.authButton{
    min-width: 90px;
}

@media screen and (max-width: 768px) {
    .authButton{
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) {
    .authButton{
        margin-right: 10px;
    }
}
