@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Volkhov&display=swap');

.brandText{
    cursor: pointer;
    color: #fff !important;
    font-size: 30px !important;
    font-family: 'Volkhov', serif;
}

.navbarCustom{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 2 !important;
    box-shadow: 0 0 5px 0 !important;
    /* background: rgba(255, 255, 255, 0.2) !important; */
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(5.7px) !important;
    -webkit-backdrop-filter: blur(5.7px) !important;
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(8.7px) !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

