.blogContainer{
    z-index: 2;
    color: #fff;
    padding-bottom: 20vh;
}

.imageContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.imageContainer img{
    height: 350px;
    border-radius: 5px;
}

.desc{
    line-height: 35px;
}
